.product {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.02);
    padding: 20px 40px;
    transition: box-shadow 0.2s;
    border-radius: 6px;
    width: 100%;

    @include breakpoint(mobile) {

      flex-direction: column;
      position: relative;
      padding: 25px;
    }

    +.product {

        margin-top: 30px;
    }

    &:hover {

        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    }

    &--image {

        width: 125px;
        height: 125px;
        background-size: contain;
        background-position: center center;
        margin-right: 15px;
        background-repeat: no-repeat;

        @include breakpoint(mobile) {

          align-self: flex-start;
          margin-bottom: 25px;
        }
    }

    &--description {

        margin-right: auto;
        width: 40%;

        @include breakpoint(mobile) {

          width: 100%;

        }

        .retailer-logo {

            height: 20px;
            width: 100px;
            //background: $primaryColor;
            margin-bottom: 15px;
            background-size: cover;
        }

        h2 {

            font-size: 24px;
            font-weight: 400;
        }
    }

    &--price {

        font-size: 30px;
        display: block;
        font-weight: 100;
        margin-bottom: 15px;
    }

    &--meta {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        margin-left: auto;

        @include breakpoint(mobile) {

          width: auto;
          position: absolute;
          right: 25px;
        }
    }
}