RewriteEngine On

DirectoryIndex index.html index.php

#Apache config
<FilesMatch ".(eot|ttf|otf|woff)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>

RewriteBase /
#Redirects July 18, 2013
rewritecond %{REQUEST_FILENAME} !-f
rewritecond %{REQUEST_FILENAME} !-d
rewritecond $1 !^(index\.php|robots\.txt|index\.md)
rewriterule ^(.*)$ index.php?/$1 [L]

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /var/www/html/projects/mentormarket/.htpasswd
Require valid-user

ErrorDocument 404 /404.html

