body { font-family: 'DIN', Helvetica, sans-serif; line-height: 1.25; vertical-align: text-bottom; }

* {box-sizing: border-box; }

.section {

	height: auto;
	min-height: 100vh;
	background: white;
	padding: 5% 0;
	box-sizing: content-box;
	position: relative;

	p { font-size: 24px; }

	&.hero {

		min-height: 1200px;

		img.mockup { 

			width: 800px;
			max-width: 100%;
			margin: 50px auto 0;
			display: block;
			position: relative;
			top: 10px;
			border: 1px solid $gray;

		} 

		h1 { font-size: 92px; text-transform: uppercase; font-weight: 100; margin-top: 100px; text-align: center; clear: both; }
		p { text-align: center; margin: 0 auto; width: 100%; max-width: 100%; }

	}

	&.discovery { 

		@include clearfix;

		p { margin-top: 20px; }

		p+p { margin-top: 20px; }

		#left-mentor, #left-mentee { opacity: 0.5; margin: 20px 0; cursor: pointer; &.active { opacity: 1; } }

		.active { opacity: 1; }

		.inactive { display: none; }

		form { float: none; margin: 0 auto; clear: both; margin-top: 200px; width: 350px; }

		p { text-align: center; margin-top: 25px; clear: both; }

		.subtext { 

			text-align: center;
			margin: 100px auto 30px;
			float: left;
			display: block;
			max-width: 100%;
			width: 100%; 
		}

	}

	&.notify { 

		padding: 10%; 

		p { text-align: center; max-width: 700px; margin: 0 auto; }

		form { margin: 0 auto; width: 500px; display: block; margin-top: 100px; float: none; } 

	}

	&.communication { 

		img.main { position: absolute; top: 200px; max-width: 600px; }

		max-height: 800px;

	}

	&.value {

		.right { text-align: right; }

		img.main { position: relative; left: 125px; width: 600px; top: -50px; }

	}

	&:nth-child(even) { background: $black; color: white; }

	.section-header {

		h2 { width: 85%; color: white; height: 75px; background: $yellow; padding: 20px; text-transform: uppercase; text-align: right; font-size: 40px; float: left; margin-bottom: 10%; font-weight: 100; }

		img { float: right; clear: none; margin-right: 5%; width: 75px; height: 75px; }

	}

	h3 { font-size: 30px; font-weight: 600; margin-bottom: 20px; }

	h4 { font-size: 50px; font-weight: 100; text-transform: uppercase; text-align: center; margin-bottom: 50px;  }

	p { max-width: 500px; font-weight: 100; +p { margin-top: 25px;  } }

	.half { 

		float: left; 
		width: 40%;
		margin: 0 5%; 

		&-right { @extend .half; float: right; padding: 0 5%; p { float: left !important; text-align: left !important; } } 

		&-left { 

			@extend .half; 
			text-align: left; 
			padding: 0 5%;

		}

		p { float: left; text-align: left; }

		h3 { float: left; }
	}
}

#mm {

	position: absolute;
	top: 0; 
	right: 5%;

	img { width: 80%; }

}