.footer {

    background: $black;
    color: white;
    margin-top: 50px;

    .bounding-container {

        padding: 25px;

        @include breakpoint(desktop) {

            padding: 50px;
        }
    }

    .footer-logo {

        width: 150px;

        @include breakpoint(desktop) {

            width: 200px;
        }
    }

    .copyright {

        font-size: 12px;
        margin-top: 5px;
    }

    .alt-images {

        float: right;
        clear: both;
        width: 60px;

        @include breakpoint(desktop) {

            width: 100px;
        }

        +.alt-images {

            margin-top: 10px;
        }
    }

    .row {

        align-items: flex-start;
        justify-content: flex-start;

        +.row {

            justify-content: space-between;
            align-items: flex-end;
            margin-top: 50px;
        }
    }

    a {

        color: white;
        text-decoration: none;
    }

    ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {

        padding: 0;
        margin: 0;
        font-size: 12px;

        @include breakpoint(desktop) {

            font-size: 16px;
        }

        +li {

            margin-top: 5px;
        }
    }

    .column {

        width: auto;
        float: left;

        +.column {

            margin-left: 25px;

            @include breakpoint(desktop) {

                margin-left: 50px;
            }
        }

        h4 {

            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            margin-bottom: 10px;

            @include breakpoint(desktop) {

                font-size: 16px;
            }
        }
    }
}