* {

    box-sizing: border-box;
}

body {

    font-family: "Gelion";
    min-height: 100vh;
    height: 100%;
    padding-top: 95px;
    width: 100%;
}

.row {

    display: flex;
    align-items: center;
    justify-content: center;

    &--justified {

        @extend .row;
        justify-content: space-between;
    }
}

.column--mobile {

    @include breakpoint(mobile) {

        flex-direction: column;
    }
}

.wrap {

    flex-flow: column wrap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    .card {

        margin-top: 25px;
        width: 40%;

        @include breakpoint(mobile) {

            width: 100%;
            margin-top: 0;
        }
    }
}

.bounding-container {

    @include clearfix;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 15px;

    &--full {

        padding: 0;
    }

    +.bounding-container {

        margin-top: 25px;
    }
}

.more {

    font-size: 36px;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
}