<div class="bounding-container">
    <div class="row">
        <div class="column">
            <h4>Links</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>Connect With Us</h4>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="mailto:contact@kidztopros.com">contact@kidztopros.com</a></li>
                <li><a href="tel:5103568726">510-356-8726</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <a href="#"><img class="footer-logo" alt="KidzToPros" src="/ktp/assets/images/kidztopros-logo--white@2x.png"/></a><br>
            <span class="copyright">© 2018 KidsToPros</span>
        </div>
        <div class="column">
            <img src="/ktp/assets/images/norton-logo@2x.png" alt="Secured by Norton" class="alt-images" />
            <img src="/ktp/assets/images/cards-logos@2x.png" alt="We accept all major credit cards." class="alt-images" />
        </div>
    </div>
</div>