<div class="bounding-container">
    <a href="#"><img class="header-logo" alt="KidzToPros" src="/ktp/assets/images/kidztopros-logo@2x.png" alt="KidzToPros"/></a>
    <!--<a href="#" class="header-icon"><img src="/ktp/assets/images/cart-icon.svg" class="header-icon" alt="Checkout" /><span class="cart--count">1</span></a>-->
    <a href="tel:5103568726" class="header-icon"><img src="/ktp/assets/images/phone-icon.svg" class="header-icon" alt="Call KidzToPros" /></a>
    <img src="/ktp/assets/images/menu-icon.svg" class="header-icon" alt="Open Menu" id="open-menu" />
</div>