body { @include clearfix; font-family: 'Gotham', Helvetica, sans-serif; }


.sidebar { 

	width: 250px; 
	height: 100vh; 
	position: fixed; 
	background: black;

}

.nav { 

	position: fixed; 
	left: 50px; 
	top: 50px; 
	z-index: 10;

	.menu-burger {

		background: red; 
		float: left; 
		height: 48px;
		width: 48px;
		cursor: pointer;
	}

	span {

		padding: 15px 30px;
		background: #272727;
		color: white;
		display: block;
		float: left;
		margin: 0 2px;

		&.dm { text-transform: uppercase; margin-left: 0;}

	}

}

.content {

	width: calc(100% - 350px);
	margin-left: 250px;
	padding: 150px 50px;

}