body { 

	@include clearfix; 
	font-family: 'Gotham', Helvetica, sans-serif;
	font-weight: 400;
	background: white;
}

* { box-sizing: border-box; }


.sidebar { 

	width: 250px; 
	height: 100vh; 
	position: fixed; 
	background: #272727;

}

.nav { 

	position: fixed; 
	left: 75px; 
	top: 30px; 
	z-index: 10;
	font-size: 12px;

	@include breakpoint(mobile) { left: 30px; }

	.menu-burger {

		background: red; 
		float: left; 
		height: 42px;
		width: 42px;
		cursor: pointer;
		padding: 10px;

		img { 

			width: 100%; 
			position: relative; 
			top: 4px; 

		}
	}

	.menu { 

		background: #272727;
		padding: 30px;
		width: 199px;
		position: absolute;
		top: 46px;
		display: none;

		@include breakpoint(mobile) { top: 88px; }

		&.opened { @include fadeInUp(); display: block; }
		&.closed { @include fadeOutDown(); display: block; }

		label { 

			display: block;
			width: 100%;
			font-weight: 700;
			font-size: 8px;
			margin-bottom: 10px;
			color: white;
			text-transform: uppercase;
			line-height: 1;

		}


		li { 

			margin: 5px 0;
			font-weight: 100;

			a { color: white; font-size: 12px; } 

			+ label { margin-top: 30px; }
		}

	}

	span {

		padding: 15px 30px;
		background: #272727;
		color: white;
		display: block;
		float: left;
		margin: 0 2px;
		font-weight: 100;

		@include breakpoint(mobile) { margin-top: 2px; margin-left: 0; }

		&.dm { 

			text-transform: uppercase; 
			margin-left: 0; 
			font-weight: 700;
			margin-top: 0;

		}
	}
}

.content {

	width: calc(100% - 350px);
	margin-left: 250px;
	padding: 150px 50px;
	@include clearfix;
	line-height: 1.25;

	&.case-study {

		padding: 0;
		margin-left: 0;
		width: 100%;

		img { width: 100%; margin-bottom: 30px; }

		.meta {

			background: white;
			position: fixed;
			width: 100%;
			padding: 30px 75px;
			bottom: 0;
			left: 0;
			box-shadow: 0 0 115px 30px rgba(0,0,0,.15);
			z-index: 9;

			@include breakpoint(mobile) { padding: 30px; }

			.section {

				float: left; 
				width: auto;
				max-width: 500px; 
				margin-right: 100px;

				&.pull-right { float: right; margin-right: 0; }

				@include breakpoint(mobile) { margin-bottom: 30px; max-width: 100%; width: 100%; }
				@include breakpoint(tablet) { margin-bottom: 30px; max-width: 100%; width: 100%; }

			}

			label {

				display: block;
				width: 100%;
				font-weight: 700;
				font-size: 8px;
				margin-bottom: 10px;
				text-transform: uppercase;

			}

			p { 

				font-size: 12px; 

				+ label { margin-top: 30px; }

			}
		}
	}
}