html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Bold.woff") format("woff"), url("../fonts/DIN-Bold.ttf") format("truetype"), url("../fonts/DIN-Bold.svg#030251e5701d786046d51ed2261d4a74") format("svg");
  /* Legacy iOS */
  src: url("../fonts/DIN-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Bold.woff") format("woff"), url("../fonts/DIN-Bold.ttf") format("truetype"), url("../fonts/DIN-Bold.svg#030251e5701d786046d51ed2261d4a74") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Black.woff") format("woff"), url("../fonts/DIN-Black.ttf") format("truetype"), url("../fonts/DIN-Black.svg#8815e0559e42d2bb6d63fb542f63fc99") format("svg");
  /* Legacy iOS */
  src: url("../fonts/DIN-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Black.woff") format("woff"), url("../fonts/DIN-Black.ttf") format("truetype"), url("../fonts/DIN-Black.svg#8815e0559e42d2bb6d63fb542f63fc99") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN.woff") format("woff"), url("../fonts/DIN.ttf") format("truetype"), url("../fonts/DIN.svg#1f1d0900c5921e708beab42a3f9edc4f") format("svg");
  /* Legacy iOS */
  src: url("../fonts/DIN.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN.woff") format("woff"), url("../fonts/DIN.ttf") format("truetype"), url("../fonts/DIN.svg#1f1d0900c5921e708beab42a3f9edc4f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DIN-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Light.woff") format("woff"), url("../fonts/DIN-Light.ttf") format("truetype"), url("../fonts/DIN-Light.svg#9524f368c6a73190533f8a905450cd55") format("svg");
  /* Legacy iOS */
  src: url("../fonts/DIN-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Light.woff") format("woff"), url("../fonts/DIN-Light.ttf") format("truetype"), url("../fonts/DIN-Light.svg#9524f368c6a73190533f8a905450cd55") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 100; }

html {
  font-family: "DIN", sans-serif, Arial !important;
  font-size: 100%; }

a {
  text-decoration: none;
  color: #6D239C;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  cursor: pointer; }

.base-typography, h1, h2, h3, h4, h5, h6, p, span {
  line-height: 1.35;
  color: #272727;
  font-weight: 300; }

h1 {
  font-weight: 300;
  font-size: 36px; }

h2 {
  font-weight: 400;
  font-size: 24px; }

h3 {
  font-weight: 700;
  font-size: 24px; }

h4 {
  font-weight: 700;
  font-size: 20px; }

h5 {
  font-weight: 700;
  font-size: 16px; }

h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px; }

p {
  font-weight: 300;
  font-size: 16px; }
  p.small {
    font-size: 12px; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

p + p,
p + a {
  margin-top: 15px; }

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 30px; }

h1 + p,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6 {
  margin-top: 15px; }

h2 + p,
h2 + h1,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6 {
  margin-top: 15px; }

h3 + p,
h3 + h1,
h3 + h2,
h3 + h4,
h3 + h5,
h3 + h6 {
  margin-top: 15px; }

h4 + p,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h5,
h4 + h6 {
  margin-top: 15px; }

h5 + p,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h6 {
  margin-top: 15px; }

h6 + p,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5 {
  margin-top: 15px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.25; }

body {
  background: #FDFDFD; }

::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #272727;
  border-radius: 0px; }

body {
  scrollbar-face-color: #272727;
  scrollbar-track-color: #272727;
  scrollbar-arrow-color: gray; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2); }

::-moz-selection {
  background: rgba(109, 35, 156, 0.8); }

::selection {
  background: rgba(109, 35, 156, 0.8); }

.btn {
  background: #6D239C;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: white;
  padding: 10px 20px;
  display: block;
  font-weight: 700;
  font-size: 16px; }
  @media (min-width: 0px) and (max-width: 650px) {
    .btn {
      font-size: 16px; } }
  .btn:hover {
    background: #331049; }

.wrapper {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .column > span {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6D239C;
    text-align: center;
    font-size: 12px;
    font-weight: 700; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  margin-bottom: 50px; }
  .header img {
    width: 100%;
    max-width: 350px; }

.footer {
  margin-top: 50px; }
  .footer img {
    width: 100%;
    max-width: 200px;
    margin-top: 10px; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.02);
  padding: 20px 40px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  border-radius: 6px;
  width: 100%; }
  @media (min-width: 0px) and (max-width: 650px) {
    .product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      padding: 25px; } }
  .product + .product {
    margin-top: 30px; }
  .product:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05); }
  .product--image {
    width: 125px;
    height: 125px;
    background-size: contain;
    background-position: center center;
    margin-right: 15px;
    background-repeat: no-repeat; }
    @media (min-width: 0px) and (max-width: 650px) {
      .product--image {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-bottom: 25px; } }
  .product--description {
    margin-right: auto;
    width: 40%; }
    @media (min-width: 0px) and (max-width: 650px) {
      .product--description {
        width: 100%; } }
    .product--description .retailer-logo {
      height: 20px;
      width: 100px;
      margin-bottom: 15px;
      background-size: cover; }
    .product--description h2 {
      font-size: 24px;
      font-weight: 400; }
  .product--price {
    font-size: 30px;
    display: block;
    font-weight: 100;
    margin-bottom: 15px; }
  .product--meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    margin-left: auto; }
    @media (min-width: 0px) and (max-width: 650px) {
      .product--meta {
        width: auto;
        position: absolute;
        right: 25px; } }
