* {
    box-sizing: border-box;
    line-height: 1.25;
}

body {

    background: $lightGray;
}

//Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $black;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

body {
    scrollbar-face-color: $black;
    scrollbar-track-color: $black;
    scrollbar-arrow-color: gray;
}


/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.2);
}

::selection { background: transparentize($primaryColor, 0.2); }