//Name that color! http://www.color-blindness.com/color-name-hue/

//Primary Colors
$primaryColor: #6D239C !default;
$secondaryColor: darken($primaryColor, 20%);

//Grays & Blacks
$black: #272727 !default;
$lightGray: #FDFDFD !default;