@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Gelion";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/Gelion-Thin.woff");
  src: url("../assets/fonts/Gelion-Thin.woff2") format("embedded-opentype"), url("../assets/fonts/Gelion-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Gelion";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Gelion-Regular.woff");
  src: url("../assets/fonts/Gelion-Regular.woff2") format("embedded-opentype"), url("../assets/fonts/Gelion-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Gelion";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Gelion-Bold.woff");
  src: url("../assets/fonts/Gelion-Bold.woff2") format("embedded-opentype"), url("../assets/fonts/Gelion-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Gelion";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/Gelion-Black.woff");
  src: url("../assets/fonts/Gelion-Black.woff2") format("embedded-opentype"), url("../assets/fonts/Gelion-Black.ttf") format("truetype"); }

.header-typography, h1 {
  line-height: 1.35;
  font-family: "Gelion"; }

.subheader-typography, h2, h3, h4, h5, h6 {
  line-height: 1.35;
  font-family: "Gelion"; }

.base-typography, p, span {
  line-height: 1.35;
  font-family: "Gelion"; }

.centered {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

h1 {
  font-weight: 300;
  font-size: 36px; }

h2 {
  font-weight: 700;
  font-size: 24px; }

h3 {
  font-weight: 700;
  font-size: 24px; }

h4 {
  font-weight: 700;
  font-size: 18px; }

h5 {
  font-weight: 700;
  font-size: 14px; }

h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px; }

p {
  font-weight: 300; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

ol {
  list-style-type: upper-roman;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px; }

ul {
  list-style-type: disc;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px; }

li {
  font-weight: 300;
  padding-left: 20px;
  line-height: 1.35; }

a {
  color: #3AB6FF;
  text-decoration: underline; }

p + p {
  margin-top: 15px; }

p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: 30px; }

.align--right {
  text-align: right; }

.align--left {
  text-align: left; }

h1 + p, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6 {
  margin-top: 15px; }

h2 + p, h2 + h1, h2 + h3, h2 + h4, h2 + h5, h2 + h6 {
  margin-top: 15px; }

h3 + p, h3 + h1, h3 + h2, h3 + h4, h3 + h5, h3 + h6 {
  margin-top: 15px; }

h4 + p, h4 + h1, h4 + h2, h4 + h3, h4 + h5, h4 + h6 {
  margin-top: 15px; }

h5 + p, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h6 {
  margin-top: 15px; }

h6 + p, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5 {
  margin-top: 15px; }

form {
  margin-top: 25px; }
  form:after {
    content: "";
    display: table;
    clear: both; }
  form.fieldsets {
    border: none; }
  form + .button, form + .button--ghost, form + .button--thin, form + .button--green {
    margin-top: 25px !important; }
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-family: "Gelion";
    font-size: 16px;
    background: none;
    color: #272727;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
    @media (min-width: 1350px) {
      form input[type="text"] {
        font-size: 18px; } }
    form input[type="text"]::-webkit-input-placeholder {
      color: #D8D8D8; }
    form input[type="text"]::-moz-placeholder {
      color: #D8D8D8; }
    form input[type="text"]:-moz-placeholder {
      color: #D8D8D8; }
    form input[type="text"]:-ms-input-placeholder {
      color: #D8D8D8; }
    form input[type="text"] + input {
      border-top: 1px solid #D8D8D8; }
    form input[type="text"] + label {
      margin-top: 15px; }

.helper {
  margin-top: 5px;
  font-size: 10px; }
  @media (min-width: 1350px) {
    .helper {
      font-size: 14px; } }

.form--group, .form--group-indent {
  float: left;
  width: 100%; }
  .form--group + .form--group, .form--group-indent + .form--group, .form--group + .form--group-indent, .form--group-indent + .form--group-indent, .form--group .form--group-indent, .form--group-indent .form--group-indent {
    margin-top: 15px; }
  .form--group > label, .form--group-indent > label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 5px;
    display: block; }
    @media (min-width: 1350px) {
      .form--group > label, .form--group-indent > label {
        font-size: 14px; } }
  .form--group-indent {
    border-left: 1px solid #D8D8D8;
    padding-left: 25px;
    margin-left: 12px;
    width: auto; }

fieldset {
  border: 1px solid #D8D8D8;
  border-radius: 20px; }
  fieldset.fieldsets {
    border: none; }
  fieldset + fieldset {
    margin-top: 40px; }

.add {
  content: "+"; }

legend {
  font-family: "Gelion";
  font-size: 18px;
  text-transform: uppercase;
  padding: 40px;
  padding-top: 0;
  padding-bottom: 0; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  color: #272727;
  text-transform: none;
  font-weight: 300;
  font-size: 16px;
  padding-left: 33px; }
  @media (min-width: 1350px) {
    input[type="checkbox"] + label {
      font-size: 18px; } }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: white;
  border: 1px solid #3AB6FF;
  border-radius: 5px;
  cursor: pointer;
  color: #3AB6FF;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 0.7;
  margin-left: -33px; }

input[type="checkbox"]:checked + label span {
  background-image: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%); }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  color: #272727;
  text-transform: none;
  font-weight: 300;
  font-size: 16px; }
  @media (min-width: 1350px) {
    input[type="radio"] + label {
      font-size: 18px; } }

input[type="radio"] + label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  border: 1px solid #3AB6FF;
  border-radius: 100%;
  cursor: pointer;
  color: #3AB6FF;
  text-align: center;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 0.7; }

input[type="radio"]:checked + label span {
  background-image: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%); }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #D8D8D8;
  width: 100%;
  background: url(../assets/images/carat-icon--down.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "Gelion"; }
  @media (min-width: 1350px) {
    select {
      font-size: 18px; } }
  select[disabled] {
    border: none;
    background: #D8D8D8 !important;
    opacity: 0.2; }
  select.third {
    width: 30%; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../js/vendor/slick/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/../../js/vendor/slick/fonts/slick.eot");
  src: url("./fonts/../../js/vendor/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/../../js/vendor/slick/fonts/slick.woff") format("woff"), url("./fonts/../../js/vendor/slick/fonts/slick.ttf") format("truetype"), url("./fonts/../../js/vendor/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 40px;
    line-height: 1;
    color: black;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -15px;
  z-index: 1; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 0px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -15px;
  z-index: 1; }
  [dir="rtl"] .slick-next {
    left: 0px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-slider .slick-track {
  min-width: 100%; }

.slick-dots button img {
  width: 100%;
  height: auto; }

.slick-dots {
  bottom: 20px;
  top: auto;
  left: auto;
  right: auto;
  position: absolute;
  line-height: 0; }

.slick-dots li,
.slick-dots li button:before {
  margin: 0;
  padding: 0; }

.slick-dots li {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  width: auto;
  height: auto; }

.slick-slider .slick-track {
  min-width: 100%; }

.slick-dots li button {
  margin: 0;
  height: auto;
  width: 100%;
  padding: 0; }

.slick-dots li button.tab {
  clear: both;
  display: block; }

.slick-dots li button img {
  width: 100%;
  max-width: 80px;
  height: auto; }

.slick-dots li button:before {
  content: '';
  border: 1px solid #272727;
  display: block;
  width: 100%;
  max-width: 150px;
  overflow: hidden;
  float: none;
  position: absolute;
  width: 100%;
  height: 100%; }

.slider-thumbs {
  position: absolute;
  left: -9999px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  box-sizing: border-box; }

body {
  font-family: "Gelion";
  min-height: 100vh;
  height: 100%;
  padding-top: 95px;
  width: 100%; }

.row, .row--justified {
  display: flex;
  align-items: center;
  justify-content: center; }
  .row--justified {
    justify-content: space-between; }

@media (min-width: 0px) and (max-width: 650px) {
  .column--mobile {
    flex-direction: column; } }

.wrap {
  flex-flow: column wrap;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }
  .wrap .card, .wrap .card--short {
    margin-top: 25px;
    width: 40%; }
    @media (min-width: 0px) and (max-width: 650px) {
      .wrap .card, .wrap .card--short {
        width: 100%;
        margin-top: 0; } }

.bounding-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 15px; }
  .bounding-container:after {
    content: "";
    display: table;
    clear: both; }
  .bounding-container--full {
    padding: 0; }
  .bounding-container + .bounding-container {
    margin-top: 25px; }

.more {
  font-size: 36px;
  font-weight: 900;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px; }

.header {
  box-shadow: 0 15px 15px 0 rgba(39, 39, 39, 0.1);
  margin-bottom: 25px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  backface-visibility: hidden; }
  .header .header-logo {
    width: 175px;
    margin-right: auto; }
    @media (min-width: 1350px) {
      .header .header-logo {
        width: 200px; } }
  .header .cart--count {
    background: #3AB6FF;
    border-radius: 100%;
    padding: 1px 6px;
    font-size: 11px;
    /* width: 15px; */
    /* height: 15px; */
    color: white;
    text-decoration: none;
    position: absolute;
    top: -3px;
    right: -5px; }
  .header .bounding-container {
    display: flex;
    align-items: center; }
  .header .header-icon {
    margin-left: auto;
    height: 50px;
    width: auto;
    cursor: pointer;
    position: relative; }
    @media (min-width: 1350px) {
      .header .header-icon {
        height: 60px; } }
    .header .header-icon + .header-icon {
      margin-left: 10px; }

.footer {
  background: #272727;
  color: white;
  margin-top: 50px; }
  .footer .bounding-container {
    padding: 25px; }
    @media (min-width: 1350px) {
      .footer .bounding-container {
        padding: 50px; } }
  .footer .footer-logo {
    width: 150px; }
    @media (min-width: 1350px) {
      .footer .footer-logo {
        width: 200px; } }
  .footer .copyright {
    font-size: 12px;
    margin-top: 5px; }
  .footer .alt-images {
    float: right;
    clear: both;
    width: 60px; }
    @media (min-width: 1350px) {
      .footer .alt-images {
        width: 100px; } }
    .footer .alt-images + .alt-images {
      margin-top: 10px; }
  .footer .row, .footer .row--justified {
    align-items: flex-start;
    justify-content: flex-start; }
    .footer .row + .row, .footer .row--justified + .row, .footer .row + .row--justified, .footer .row--justified + .row--justified {
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 50px; }
  .footer a {
    color: white;
    text-decoration: none; }
  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .footer li {
    padding: 0;
    margin: 0;
    font-size: 12px; }
    @media (min-width: 1350px) {
      .footer li {
        font-size: 16px; } }
    .footer li + li {
      margin-top: 5px; }
  .footer .column {
    width: auto;
    float: left; }
    .footer .column + .column {
      margin-left: 25px; }
      @media (min-width: 1350px) {
        .footer .column + .column {
          margin-left: 50px; } }
    .footer .column h4 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 10px; }
      @media (min-width: 1350px) {
        .footer .column h4 {
          font-size: 16px; } }

#navigation {
  background: rgba(58, 182, 255, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  color: white;
  z-index: 10;
  display: none; }
  #navigation #close-menu {
    float: right;
    top: -25px;
    position: relative;
    right: -7px;
    cursor: pointer;
    height: 60px; }
  #navigation input {
    border: 1px solid white;
    background: none;
    border-radius: 8px;
    font-size: 24px;
    width: 100%;
    color: white;
    padding: 10px;
    padding-left: 50px;
    background-image: url("../assets/images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 10px; }
  #navigation h4 {
    font-size: 36px;
    text-transform: none;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px; }
  #navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #navigation li {
    margin: 0;
    padding: 0; }
    #navigation li + li {
      margin-top: 10px; }
    #navigation li a {
      font-size: 24px;
      color: white;
      text-decoration: none; }

.button, .button--ghost, .button--thin, .button--green {
  background-image: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%);
  display: inline-block;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Gelion";
  font-weight: 700;
  cursor: pointer;
  font-size: 16px; }
  @media (min-width: 1350px) {
    .button, .button--ghost, .button--thin, .button--green {
      font-size: 24px; } }
  .button--ghost {
    background: none;
    border: 1px solid #3AB6FF;
    color: #3AB6FF; }
  .button--thin {
    padding: 10px 30px; }
  .button--green {
    background-image: linear-gradient(62deg, #96E6A1 0%, #D4FC79 100%); }

.card, .card--short {
  box-shadow: 0 15px 15px 0 rgba(39, 39, 39, 0.1);
  background: white;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 250px;
  max-width: 600px;
  float: none;
  display: block;
  clear: both;
  margin: 0 auto; }
  .card.camp .card--hero, .camp.card--short .card--hero {
    background-image: linear-gradient(62deg, #96E6A1 0%, #D4FC79 100%); }
  .card.camp .button, .camp.card--short .button, .card.camp .button--ghost, .camp.card--short .button--ghost, .card.camp .button--thin, .camp.card--short .button--thin, .card.camp .button--green, .camp.card--short .button--green {
    background-image: linear-gradient(62deg, #96E6A1 0%, #D4FC79 100%);
    color: white; }
  .card.camp a, .camp.card--short a {
    color: #96E6A1; }
  .card + .card, .card--short + .card, .card + .card--short, .card--short + .card--short {
    margin-top: 25px; }
  .card--short {
    background: none;
    box-shadow: none; }
    .card--short .card--hero {
      padding-bottom: 50px;
      z-index: 9; }
    .card--short .button, .card--short .button--ghost, .card--short .button--thin, .card--short .button--green {
      width: 90%;
      margin: 0 auto;
      display: block;
      position: relative;
      margin-top: -55px !important;
      z-index: 9; }
  .card--hero {
    position: relative;
    top: -25px;
    left: -25px;
    width: calc(100% + 50px);
    background-image: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%);
    padding: 25px;
    border-radius: 10px;
    color: white; }
    .card--hero .title {
      font-size: 24px;
      margin-bottom: 10px;
      margin-top: 50px; }
      @media (min-width: 1350px) {
        .card--hero .title {
          font-size: 32px; } }
    .card--hero .provider {
      font-size: 12px;
      margin-top: 0;
      font-weight: 400; }
      @media (min-width: 1350px) {
        .card--hero .provider {
          font-size: 18px; } }
    .card--hero .price {
      font-size: 24px;
      font-weight: 700;
      float: right; }
      @media (min-width: 1350px) {
        .card--hero .price {
          font-size: 32px; } }
    .card--hero .range {
      background: #F5A623;
      padding: 10px;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 10px;
      display: inline-block; }
      @media (min-width: 1350px) {
        .card--hero .range {
          font-size: 16px; } }
  @media (min-width: 1350px) {
    .card h2, .card--short h2 {
      font-size: 32px; } }
  @media (min-width: 1350px) {
    .card a, .card--short a {
      font-size: 18px; } }
  @media (min-width: 1350px) {
    .card p, .card--short p {
      font-size: 18px; } }
  @media (min-width: 1350px) {
    .card table, .card--short table {
      font-size: 18px; } }
  .card--body .section, .card--body .home .section--no-padding, .home .card--body .section--no-padding {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D8D8; }
    .card--body .section h2, .card--body .home .section--no-padding h2, .home .card--body .section--no-padding h2 {
      margin-bottom: 15px; }
    .card--body .section a, .card--body .home .section--no-padding a, .home .card--body .section--no-padding a {
      text-decoration: underline;
      display: block; }
      .card--body .section a + a, .card--body .home .section--no-padding a + a, .home .card--body .section--no-padding a + a {
        margin-top: 10px; }
    @media (min-width: 1350px) {
      .card--body .section p, .card--body .home .section--no-padding p, .home .card--body .section--no-padding p {
        font-size: 18px; } }
  .card--body table {
    width: 100%; }
    .card--body table td {
      padding: 5px;
      line-height: 1.5; }
  .card .button, .card--short .button, .card .button--ghost, .card--short .button--ghost, .card .button--thin, .card--short .button--thin, .card .button--green, .card--short .button--green {
    width: 100%;
    margin-top: 10px; }

.schedule {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }
  .schedule .day {
    margin: 0;
    padding: 0;
    background: #D8D8D8;
    color: #272727;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding: 6px;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
    opacity: 0.3; }
    .schedule .day.active {
      background-image: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%);
      color: white;
      opacity: 1; }

.home {
  margin-top: -14px; }
  .home .hero {
    min-height: 55vh;
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -150px;
    padding-top: 50px; }
    .home .hero h1 {
      font-size: 100px;
      text-transform: uppercase;
      font-weight: 900; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .hero h1 {
          font-size: 40px; } }
      @media (min-width: 650px) and (max-width: 900px) {
        .home .hero h1 {
          font-size: 75px; } }
    .home .hero h2 {
      text-transform: uppercase;
      font-size: 66px;
      font-style: italic; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .hero h2 {
          font-size: 25px; } }
      @media (min-width: 650px) and (max-width: 900px) {
        .home .hero h2 {
          font-size: 50px; } }
  .home .section, .home .section--no-padding {
    clear: both;
    float: left;
    width: 100%;
    padding: 50px;
    text-align: center; }
    .home .section:after, .home .section--no-padding:after {
      content: "";
      display: table;
      clear: both; }
    .home .section.blue, .home .blue.section--no-padding {
      border-top: 10px solid #3AB6FF; }
    .home .section.green, .home .green.section--no-padding {
      border-top: 10px solid #96E6A1; }
    .home .section--no-padding {
      padding: 0; }
    .home .section h2, .home .section--no-padding h2 {
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 50px; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .section h2, .home .section--no-padding h2 {
          font-size: 24px; } }
    .home .section + .section, .home .section--no-padding + .section, .home .section + .section--no-padding, .home .section--no-padding + .section--no-padding {
      margin-top: 100px; }
    .home .section img, .home .section--no-padding img {
      width: 100%; }
    .home .section .mobile-select, .home .section--no-padding .mobile-select {
      display: none; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .section .mobile-select, .home .section--no-padding .mobile-select {
          display: block;
          margin-bottom: 10px; } }
    .home .section .inner-container--25, .home .section--no-padding .inner-container--25 {
      width: 25%;
      float: left; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .section .inner-container--25, .home .section--no-padding .inner-container--25 {
          display: none; } }
    .home .section .inner-container--75, .home .section--no-padding .inner-container--75 {
      width: 75%;
      float: left;
      padding: 0 25px; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .section .inner-container--75, .home .section--no-padding .inner-container--75 {
          width: 100%;
          padding: 0; } }
    .home .section .inner-container p, .home .section--no-padding .inner-container p, .home .section .inner-container--25 p, .home .section--no-padding .inner-container--25 p, .home .section .inner-container--75 p, .home .section--no-padding .inner-container--75 p {
      text-align: left;
      margin-top: 30px;
      font-size: 18px; }
    .home .section .inner-container .button, .home .section--no-padding .inner-container .button, .home .section .inner-container--25 .button, .home .section--no-padding .inner-container--25 .button, .home .section .inner-container--75 .button, .home .section--no-padding .inner-container--75 .button, .home .section .inner-container .button--ghost, .home .section--no-padding .inner-container .button--ghost, .home .section .inner-container--25 .button--ghost, .home .section--no-padding .inner-container--25 .button--ghost, .home .section .inner-container--75 .button--ghost, .home .section--no-padding .inner-container--75 .button--ghost, .home .section .inner-container .button--thin, .home .section--no-padding .inner-container .button--thin, .home .section .inner-container--25 .button--thin, .home .section--no-padding .inner-container--25 .button--thin, .home .section .inner-container--75 .button--thin, .home .section--no-padding .inner-container--75 .button--thin, .home .section .inner-container .button--green, .home .section--no-padding .inner-container .button--green, .home .section .inner-container--25 .button--green, .home .section--no-padding .inner-container--25 .button--green, .home .section .inner-container--75 .button--green, .home .section--no-padding .inner-container--75 .button--green {
      margin-top: 30px;
      float: left;
      display: inline-block;
      width: 200px; }
    .home .section .scroll, .home .section--no-padding .scroll {
      max-height: 730px;
      height: auto;
      overflow-y: scroll;
      padding: 10px 20px; }
  .home .pill {
    box-shadow: 0 15px 15px 0 rgba(39, 39, 39, 0.1);
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 5px;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s; }
    .home .pill:hover {
      box-shadow: 0 15px 15px 0 rgba(39, 39, 39, 0.3); }
    .home .pill + .pill {
      margin-top: 15px; }
  .home .tabs {
    border: 1px solid #3AB6FF;
    width: auto;
    border-radius: 8px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    padding: 4px; }
    .home .tabs:after {
      content: "";
      display: table;
      clear: both; }
    .home .tabs .switch, .home .tabs .switch.active {
      padding: 15px 30px;
      text-transform: uppercase;
      background: white;
      border-radius: 8px;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .tabs .switch, .home .tabs .switch.active {
          padding: 10px 20px;
          font-size: 12px; } }
      .home .tabs .active.switch {
        color: white;
        background: #3AB6FF; }
  .home #camp-select {
    display: none; }
  @media (min-width: 0px) and (max-width: 650px) {
    .home .row--justified {
      flex-direction: column; } }
  .home .form--group label, .home .form--group-indent label {
    text-align: left;
    margin-bottom: 5px; }
  .home .form--group + .form--group, .home .form--group-indent + .form--group, .home .form--group + .form--group-indent, .home .form--group-indent + .form--group-indent {
    margin-top: 0;
    margin-left: 30px; }
    @media (min-width: 0px) and (max-width: 650px) {
      .home .form--group + .form--group, .home .form--group-indent + .form--group, .home .form--group + .form--group-indent, .home .form--group-indent + .form--group-indent {
        margin-top: 15px;
        margin-left: 0; } }
  .home .form--group select, .home .form--group-indent select {
    font-size: 24px;
    font-weight: 900;
    color: #3AB6FF;
    border: 1px solid #3AB6FF;
    padding: 20px;
    background: url(../assets/images/carat-icon--down--blue.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    border-radius: 8px; }
    @media (min-width: 0px) and (max-width: 650px) {
      .home .form--group select, .home .form--group-indent select {
        font-size: 18px;
        padding: 10px; } }
    .home .form--group select[disabled], .home .form--group-indent select[disabled] {
      border: none; }
  .home img {
    width: 100%; }
  .home .card, .home .card--short {
    width: 100%;
    clear: both;
    min-width: 100%;
    max-width: 100%;
    text-align: center; }
    @media (min-width: 0px) and (max-width: 650px) {
      .home .card, .home .card--short {
        padding: 25px; } }
  .home .infographic h3 {
    color: #3AB6FF;
    font-size: 60px;
    font-weight: 900; }
    @media (min-width: 0px) and (max-width: 650px) {
      .home .infographic h3 {
        font-size: 30px; } }
  .home .infographic h4 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 30px; }
    @media (min-width: 0px) and (max-width: 650px) {
      .home .infographic h4 {
        font-size: 24px; } }
  @media (min-width: 0px) and (max-width: 650px) {
    .home .infographic + .infographic {
      margin-top: 30px; } }
  .home .testimonial {
    padding: 50px 100px;
    text-align: center; }
    @media (min-width: 0px) and (max-width: 650px) {
      .home .testimonial {
        padding: 25px; } }
    .home .testimonial p {
      font-size: 24px; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .testimonial p {
          font-size: 18px; } }
      .home .testimonial p.author {
        font-size: 18px;
        margin-top: 50px; }
        @media (min-width: 0px) and (max-width: 650px) {
          .home .testimonial p.author {
            font-size: 12px; } }
  .home .features-slider img {
    width: 75px;
    text-align: left;
    margin-bottom: 15px; }
  .home .features-slider .card, .home .features-slider .card--short {
    text-align: left;
    background: #3AB6FF;
    color: white;
    height: 350px;
    display: flex !important;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.2s; }
    .home .features-slider .card:hover, .home .features-slider .card--short:hover {
      transform: scale(1.1); }
    .home .features-slider .card + .card, .home .features-slider .card--short + .card, .home .features-slider .card + .card--short, .home .features-slider .card--short + .card--short {
      margin-left: 20px; }
  .home .features-slider .slick-slide {
    margin: 0 25px;
    transition: all 0.2s; }
  .home .features-slider .slick-list {
    margin: 0 -25px;
    padding: 40px !important; }
  .home .features-slider .slick-track {
    display: flex; }
  .home .features-slider .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.5;
    transform: scale(0.9); }
  .home .features-slider .slick-current {
    opacity: 1 !important;
    transform: scale(1) !important; }
  .home .product-hero-container {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    overflow: hidden; }
    .home .product-hero-container:before {
      width: 100%;
      height: 350px;
      display: block;
      opacity: 0.5;
      content: '';
      background-image: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%); }
  .home .product-hero-container--green {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    overflow: hidden; }
    .home .product-hero-container--green:before {
      width: 100%;
      height: 350px;
      display: block;
      opacity: 0.5;
      content: '';
      background-image: linear-gradient(62deg, #96E6A1 0%, #D4FC79 100%); }
  .home .press {
    align-items: center;
    flex-flow: row nowrap; }
    .home .press a {
      padding: 10px; }
      @media (min-width: 0px) and (max-width: 650px) {
        .home .press a {
          width: 50%; } }
    .home .press img {
      display: flex;
      max-width: 100%;
      object-fit: contain; }

.checkout--summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none !important;
  padding-top: 20px; }

.checkout .destroy {
  font-size: 10px;
  text-transform: uppercase;
  color: red;
  float: left;
  text-decoration: none !important;
  padding-left: 36px;
  font-weight: 700; }

.checkout img {
  width: 60px; }
  .checkout img + img {
    margin-left: 10px; }

.checkout h4 {
  font-size: 10px;
  text-align: right; }

.checkout h5 {
  font-size: 30px;
  margin-top: 0; }

.checkout .card--body table td.align--right {
  width: 50%; }

.checkout--item {
  padding-top: 40px; }
  .checkout--item .checkout--item--hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; }
    .checkout--item .checkout--item--hero img {
      border-radius: 10px;
      float: left;
      margin-right: 20px; }
    .checkout--item .checkout--item--hero div {
      float: left;
      display: flex;
      flex-direction: column;
      font-size: 18px; }
      .checkout--item .checkout--item--hero div .provider {
        float: left;
        font-size: 14px;
        margin-top: 5px; }
  .checkout--item + .checkout--item {
    border-top: 1px solid #D8D8D8;
    margin-top: 40px; }
