$blue: #3AB6FF !default;
$green: #96E6A1 !default;
$orange: #F5A623 !default;
$lightGray: #D8D8D8 !default;
$black: #272727 !default;

@mixin blueGradient {

    background-image: linear-gradient(90deg, #00F2FE 0%, #4FACFE 100%);
}

@mixin greenGradient {

    background-image: linear-gradient(62deg, #96E6A1 0%, #D4FC79 100%);
}