@font-face {

    font-family: "Gelion";
    font-weight: 100;
    font-style: normal;
    src:url('../assets/fonts/Gelion-Thin.woff');
    src:url('../assets/fonts/Gelion-Thin.woff2') format('embedded-opentype'), url('../assets/fonts/Gelion-Thin.ttf') format('truetype');
}

@font-face {

    font-family: "Gelion";
    font-weight: 300;
    font-style: normal;
    src:url('../assets/fonts/Gelion-Regular.woff');
    src:url('../assets/fonts/Gelion-Regular.woff2') format('embedded-opentype'), url('../assets/fonts/Gelion-Regular.ttf') format('truetype');
}

@font-face {

    font-family: "Gelion";
    font-weight: 700;
    font-style: normal;
    src:url('../assets/fonts/Gelion-Bold.woff');
    src:url('../assets/fonts/Gelion-Bold.woff2') format('embedded-opentype'), url('../assets/fonts/Gelion-Bold.ttf') format('truetype');
}

@font-face {

    font-family: "Gelion";
    font-weight: 900;
    font-style: normal;
    src:url('../assets/fonts/Gelion-Black.woff');
    src:url('../assets/fonts/Gelion-Black.woff2') format('embedded-opentype'), url('../assets/fonts/Gelion-Black.ttf') format('truetype');
}

.header-typography { line-height: 1.35; font-family: "Gelion"; }
.subheader-typography { line-height: 1.35; font-family: "Gelion"; }
.base-typography { line-height: 1.35; font-family: "Gelion" }
.centered { text-align: center; }
.uppercase { text-transform: uppercase; }

h1 { @extend .header-typography; font-weight: 300; font-size: 36px; }
h2 { @extend .subheader-typography; font-weight: 700; font-size: 24px; }
h3 { @extend .subheader-typography; font-weight: 700; font-size: 24px; }
h4 { @extend .subheader-typography; font-weight: 700; font-size: 18px; }
h5 { @extend .subheader-typography; font-weight: 700; font-size: 14px; }
h6 { @extend .subheader-typography; text-transform: uppercase; font-weight: 700; font-size: 14px; }
p { @extend .base-typography; font-weight: 300;  }
span { @extend .base-typography; }

strong { font-weight: 700; }

em { font-style: italic; }

ol { list-style-type: upper-roman; padding-left: 30px; padding-top: 10px; padding-bottom: 10px; }

ul { list-style-type: disc; padding-left: 30px; padding-top: 10px; padding-bottom: 10px; }

li {

    font-weight: 300;
    padding-left: 20px;
    line-height: 1.35;

}

a {

    color: $blue;
    text-decoration: underline;
}

p {

    +p { margin-top: 15px; }

    +h2, +h3, +h4, +h5, +h6 { margin-top: 30px; }

}

.align {

    &--right {

        text-align: right;
    }

    &--left {

        text-align: left;
    }
}

h1 { +p, +h2, +h3, +h4, +h5, +h6 { margin-top: 15px; } }
h2 { +p, +h1, +h3, +h4, +h5, +h6 { margin-top: 15px; } }
h3 { +p, +h1, +h2, +h4, +h5, +h6 { margin-top: 15px; } }
h4 { +p, +h1, +h2, +h3, +h5, +h6 { margin-top: 15px; } }
h5 { +p, +h1, +h2, +h3, +h4, +h6 { margin-top: 15px; } }
h6 { +p, +h1, +h2, +h3, +h4, +h5 { margin-top: 15px; } }